
hr {
	margin: 5% 4%;
	height: 0;
	border-top: 1px solid #eee;
}

/*
2. HEADER
*/

.navigation {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 5px 0 8px #888888;
	z-index: 1;
	background-color: #ffffff;
	justify-content: space-between;
	flex-wrap: wrap;

}

@media only screen and (max-width: 636px) {
	.navigation {
	justify-content: center;
	}

	main {
		margin-top: 101px;
	}
}

a {
	font-size: 30px;
	color: yellow;
	text-decoration: none;
	line-height: 50px;
	padding: 0 15px;
	font-family: "Times New Roman", Georgia, Serif;
	display: inline-block;
}


a:link {
	color: black;
}

a:visited {
	color: black;
}


a:hover {
	background-color: #555;
	color: #ffffff;
}

a:active {
	color: black;
}

/* 
3. MAIN
*/

main {
	text-align: center;
	display: flex;
	justify-content: center;
}


img {
	max-width: 100%;
}

.main-picture {
	position: relative;
	margin-top: 2% 0;
}

main h1 {
	font-size: 50px;
	position: absolute;
	bottom:0;
	padding: 1%;
	color: rgba(120,120,120,0.7);
}

p {
	letter-spacing: initial;
}

/*
4. HISTORY
*/

.article, .contact {
	display: flex;
	margin: 0 15%;
	align-items: center;
	flex-wrap: wrap;
}

.article-text {
	flex: 1;
	text-align: justify;
	padding: 0 5%;
}

.article h2 {
	font-size: 35px;
	text-align: center;
}

.article h3 {
	font-size: 21px;
	text-align: center;
}

.article:nth-of-type(1) {
		margin-top: 5%;
	}

@media only screen and (max-width: 1300px) {

	.article:nth-of-type(2) {
		display: block;
	}

	.article-text:nth-of-type(2) {
		margin-top: 7%;
	}

	.article-image:nth-of-type(1) {
		flex: 1;
		display: none;
	}

	.article-image:nth-of-type(2) {
		text-align: center;
		margin-top: 3%;
	}
}

/*
5. MENU
*/

dt {
	font-size: 20px;
	font-weight: 500;
	line-height: 25px;
}

dd {
	letter-spacing: normal;
	margin: 2% 0 8% 0 ;
}

article-image

/*
6. CONTACT
*/

.contact h2 {
	font-size: 35px;
}

form {
	width: 100%;
}

input {
	width: 80%;
	line-height: 30px;
	padding: 10px 5px;
	margin: 10px 0;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #bfbfbf;
}

textarea {
	width: 80%;
	height: 50px;
	line-height: 30px;
	padding: 10px 5px;
	margin: 10px 0;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 16px;
	border: none;
	resize: none;
	border-bottom: 1px solid #bfbfbf;
    transition: height 1s ease-in-out;
}

textarea:focus {
    height: 200px;
}

input[type=submit] {
    background-color: #bfbfbf;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;

}

input[type=submit]:hover {
	background-color: #d9d9d9;
	color: black;
}

/*
7. FOOTER
*/

.footer {
	margin-top: 10%;
	line-height: 70px;
	background-color: #d9d9d9;
	text-align: center;
	font-size: 15px;
}

